body,
html {
  height: 100%;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

ul,
ol {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  /* colors */
  --White: hsl(0, 0%, 100%);

  --Slate-300: hsl(212, 45%, 89%);
  --Slate-500: hsl(216, 15%, 48%);
  --Slate-900: hsl(218, 44%, 22%);

  /* fonts */
  --main-font: 'Outfit', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: var(--Slate-900);
  font-family: var(--main-font);
  font-weight: 400;
  background-color: var(--White);
  font-size: 0.9375rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 23.4375rem;
  height: 41.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--Slate-300);
  @media screen and (min-width: 1440px) {
    width: 90rem;
    height: 50rem;
  }
}

.qr__container {
  width: 20rem;
  padding: 1rem 1rem 2.5rem 1rem;
  background-color: var(--White);
  border-radius: 1.25rem;
  box-shadow: 0px 0.9375rem 2.875rem -0.9375rem rgba(0, 0, 0, 0.37);
}

.qr__image {
  border-radius: 0.625rem;
  margin-bottom: 1.5rem;
}
.qr__title {
  font-size: 1.375rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5625rem;
}

.qr__txt {
  color: var(--Slate-500);
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
