*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

ul,
ol {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  /* colors */
  --White: hsl(0, 0%, 100%);

  --Blue: hsl(212, 45%, 89%);
  --Slate-300: hsl(212, 45%, 89%);
  --Slate-500: hsl(216, 15%, 48%);
  --Slate-900: hsl(218, 44%, 22%);

  /* fonts */
  --main-font: 'Outfit', sans-serif;
}

body {
  color: var(--Slate-900);
  font-family: var(--main-font);
  font-weight: 400;
  background-color: var(--Blue);
  font-size: 10px;
  letter-spacing: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

section {
  margin-top: 152px;
  margin-bottom: 152px;
}

.qr__container {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  padding: 16px 16px 40px 16px;
  background-color: var(--White);
  border-radius: 20px;
}

.qr__image {
  border-radius: 10px;
  margin-bottom: 24px;
}
.qr__title {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 16px;
}

.qr__txt {
  color: var(--Slate-500);
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
}
